* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}
main {
  overflow: auto;
}
a {
  all: unset;
  cursor: pointer;
}
